.frameOnHover:hover{
	opacity: .8;
	/* border: solid 1px yellow; */
}
.frameOnHover:active{
	opacity: .5;
	/* border: solid 1px yellow; */
}
.framedPicture{
	/* border: solid 8px yellow; */
	outline: solid 8px yellow;
	outline-offset: -6px;
	/* border-radius: 0px; GEHT NICHT!!! */
}

.linebreak {
  flex-basis: 100%;
  height: 0;
}
.flexWrap{
	display:flex;
	flex:1;
	flex-wrap:wrap;
	justify-content:center;
	align-content: flex-start; /* das ist bei den meisten nicht so gewesen! */
}
.justifyLeft{
	justify-content:flex-start;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate:hover {
	/* font-size: 8pt; */
	cursor: none;
	white-space: normal;
	overflow: visible;
	background: dimgray;
	border-radius: 4px;
	color: white;
	/* filter: invert(100%);	 */
	z-index: 100;
	/* height: 100px; */
	position: relative;
}

.might-overflow {
	cursor: default;
	text-overflow: ellipsis;
	overflow : hidden;
	white-space: nowrap;
}
.might-overflow:hover {
	cursor: default;
	text-overflow: clip;
	white-space: normal;
	/* word-break: break-all; */
}

/* #region centering */
.centeredTL {
  position: relative;
  top: 50%;
	left: 50%;
}
.centered {
  position: relative;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}
.centerCentered{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%); 
}
.centerCenteredTopHalf{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -100%) 
}
.centerCenteredBottomHalf{
	margin: 0;
	position: absolute;
	top: 46%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%) 
}
/* #endregion */



