#allGamesDiv button{
	text-align:center;
	border-radius:8px;
	background:dimgray;
	color:white;
	font-size:10px;
  border: none;
  outline: none;
	cursor:pointer;
	margin: 10px;
	width:240px;
	min-height:220px;
}
#allGamesDiv button:hover{
	background:#00000080;
}
#allGamesDiv button:active{
	background:#ffffff80;
}
.gameImage{
	border-radius:8px;
}
#dDev{
	/* overflow: scroll; */
	position: absolute;
	left: 1%;
	top: 1%;
	min-height: 98%;
	min-width: 98%;
	background:#00ff0080;
}
#dGameSettings{
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background:orangered;
}
#dMenu{
	/* overflow: scroll; */
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background:skyblue;
}
.fsc{
	height:290px;
	display: flex;
	justify-content: center;
}

legend {
	border:1px solid green;
	color:green;
	font-size:75%;
	margin-left:16px;
	text-align:left;
}
fieldset{
	font-size:90%;
	border: none;
	margin-top:2%;
	height:96%;
	min-width:130px;
	float:left;
	position:relative;
	text-align: left;
	color:dimgray;
	/* background-color: blue; */
}
.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
	border: 1px solid #999;
	color: silver;
  transition: 0.2s all linear;
  margin: 5px;
	padding: 0px;
  position: relative;
	top: 7px;
	left: 0px;
}
.radio:focus {
  outline-width: 0px;
  outline-style: solid;
	outline-color: transparent; 
	/* outline-color: Highlight; */
}
.radio:checked {
  border: 8px solid green;
}
fieldset div{
	margin:10px 16px;
}


#dGameSettings input{
	width:70px;
}
#dGameSettings select{
	width:77px;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* border-radius: 50%; */
  width: 76px;
  height: 18px;
	border: 1px solid #999;
	color:  #999;
	text-align: center;
  transition: 0.2s all linear;
  margin: 0px;
	padding: 0px;
  position: relative;
	top: -2px;
	left: 0px;
}
.checkbox:focus {
  outline-width: 0px;
  outline-style: solid;
	outline-color: transparent; 
	/* outline-color: Highlight; */
}
.checkbox:checked {
	color: black;
	background-color: white;
	border: 1px solid #00000080;

}
.checkbox::before{
	content: "no";
}
.checkbox:checked::before {
  content: "yes";
}
