.draggable {
	cursor: pointer;
}
.dropzone {
	cursor: grab;
}

.editableText {
	background-color: transparent;
	outline: none;
	border: none;
	text-align: center;
	padding: 2px 8px;
}

.frameOnHover:hover {
	opacity: 0.8;
	/* border: solid 1px yellow; */
}
.frameOnHover:active {
	opacity: 0.5;
	/* border: solid 1px yellow; */
}
.framedPicture {
	/* border: solid 8px yellow; */
	outline: solid 8px yellow;
	outline-offset: -6px;
	/* border-radius: 0px; GEHT NICHT!!! */
}

.linebreak {
	flex-basis: 100%;
	height: 0px;
	/* height: 10px; */
	/* background-color: red; */
}
.flexWrap {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start; /* das ist bei den meisten nicht so gewesen! */
}
.justifyLeft {
	justify-content: flex-start;
}
.maxLines2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.truncate:hover {
	/* font-size: 8pt; */
	cursor: none;
	white-space: normal;
	overflow: visible;
	background: white;
	border-radius: 4px;
	color: black;
	/* filter: invert(100%);	 */
	z-index: 100;
	/* height: 100px; */
	position: relative;
}

.might-overflow {
	cursor: default;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.might-overflow:hover {
	cursor: default;
	text-overflow: clip;
	white-space: normal;
	/* word-break: break-all; */
}

/* #region centering */
.centeredTL {
	position: relative;
	top: 50%;
	left: 50%;
}
.centered {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.centerCentered {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.centerCenteredTopHalf {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -100%);
}
.centerCenteredBottomHalf {
	margin: 0;
	position: absolute;
	top: 46%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
}
/* #endregion */

/* #region animations */
@keyframes breath {
	0% {
		background: var(--colorStart);
		transform: scale(var(--scaleStart));
	}
	100% {
		background: var(--colorEnd);
		transform: scale(var(--scaleEnd));
	}
}
.container {
	--colorStart: #222;
	--colorEnd: #eee;
	color: var(--colorEnd);
	--xStart: 0px;
	--xEnd: 200px;
	--yStart: 0px;
	--yEnd: 200px;
}
.bubble2 {
	/* each bubble starts with these common specs: */
	/* --scaleStart: 0.3; */
	/* position: absolute; */
	/* left: var(--xStart); */
	transform: translate(var(--xStart), var(--yStart));
	/* animation: breath2 2s alternate infinite ease-in-out; */
	animation: breath2 2s forwards ease-in-out;
}
@keyframes breath2 {
	0% {
		transform: translate(var(--xStart), var(--yStart));
	}
	100% {
		transform: translate(var(--xEnd), var(--yEnd));
	}
}

.bubble1 {
	/* each bubble starts with these common specs: */
	--scaleStart: 0.3;
	position: absolute;
	left: var(--xStart);
	/* transform: scale(var(--scaleStart)); */
	animation: breath1 2s alternate infinite ease-in-out;
}
@keyframes breath1 {
	0% {
		left: var(--xStart);
		/* transform: scale(var(--scaleStart)); */
	}
	100% {
		left: var(--xEnd);
		/* transform: scale(var(--scaleEnd)); */
	}
}
.bubble {
	/* each bubble starts with these common specs: */
	--scaleStart: 0.3;
	background: var(--colorStart);
	transform: scale(var(--scaleStart));
	-webkit-animation: breath 2s alternate infinite ease-in-out;
	animation: breath 2s alternate infinite ease-in-out;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	max-width: 100vw;
}

.bubble {
	margin: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

body {
	--xStart: 0;
	--xEnd: 100;
}
.canimove {
	animation: animove 2s alternate infinite ease-in-out;
}
@keyframes animove {
	0% {
		/* background: var(--colorStart); */
		transform: translateX(var(--xStart));
	}
	100% {
		/* background: var(--colorEnd); */
		transform: translateX(var(--xEnd));
	}
}

/* #endregion animations */
#dAux {
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background: powderBlue;
}
#dButtons {
	position: fixed;
	display: inline-block;
	bottom: 20px;
	right: 40px;
}
#dButtons div {
	cursor: pointer;
	display: inline-block;
	padding: 10px;
}
/* #region fieldset */
.fsc {
	height: 290px;
	display: flex;
	justify-content: center;
}
legend {
	border: 1px solid green;
	color: green;
	font-size: 75%;
	margin-left: 16px;
	text-align: left;
}
fieldset {
	font-size: 90%;
	border: none;
	margin-top: 2%;
	height: 96%;
	min-width: 130px;
	float: left;
	position: relative;
	text-align: left;
	color: dimgray;
	/* background-color: blue; */
}
fieldset div {
	margin: 10px 16px;
}
/* #endregion fieldset */

/* #region radio */
.radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	border: 1px solid #999;
	color: silver;
	transition: 0.2s all linear;
	margin: 5px;
	padding: 0px;
	position: relative;
	top: 7px;
	left: 0px;
}
.radio:focus {
	outline-width: 0px;
	outline-style: solid;
	outline-color: transparent;
	/* outline-color: Highlight; */
}
.radio:checked {
	border: 8px solid green;
}
/* #endregion radio */

.input {
	width: 70px;
}
.options {
	width: 77px;
}
#dGameSettings input {
	width: 70px;
}
#dGameSettings select {
	width: 77px;
}

/* #region checkbox */
.checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* border-radius: 50%; */
	width: 76px;
	height: 18px;
	border: 1px solid #999;
	color: #999;
	text-align: center;
	transition: 0.2s all linear;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -2px;
	left: 0px;
}
.checkbox:focus {
	outline-width: 0px;
	outline-style: solid;
	outline-color: transparent;
	/* outline-color: Highlight; */
}
.checkbox:checked {
	color: black;
	background-color: white;
	border: 1px solid #00000080;
}
.checkbox::before {
	content: 'no';
}
.checkbox:checked::before {
	content: 'yes';
}
/* #endregion checkbox */
.dragelem {
	position: fixed;
	z-index: 100;
	cursor: pointer;
	color: rgb(60, 0, 248); /* change [input cursor color] by this*/
	text-shadow: 0px 0px 0px #d60b0b; /* change [input font] by this*/
	-webkit-text-fill-color: transparent;
	border: 2px solid pink;
}
.dropzone {
	display: inline-block;
	background: green;
	color: white;
	width: 50px;
	height: 50px;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
}
.draggable {
	display: inline-block;
	background: white;
	width: 25px;
	height: 25px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	margin: 12px;
}

html,
body,
#md,
#dTableBackground {
	height: 100%;
	padding: 0;
	margin: 0;
	font: 20px Arial;
	color: white;
}
div {
	user-select: none;
}

.noCursor {
	cursor: none;
}

#dLevelComplete {
	position: fixed;
	text-align: center;
	background-color: #000000bf;
	font-size: 80px;
	top: 32%;
	padding: 80px;
	border-radius: 20px;
	max-height: 40%;
	width: 80%;
}
.feedbackMarker {
	position: fixed;
	font-size: 40px;
}
#dCheckMark,
#dX {
	position: fixed;
	font-size: 40px;
}
#md,
#dTableBackground {
	display: flex;
	/* overflow:hidden; */
}
#dSidebar {
	height: 100%;
	flex: 0 0 auto;
	background-color: #ffffff80;
	box-sizing: border-box;
	padding: 12px;
	text-align: center;
}
#dTableBackground {
	flex-direction: column;
	flex-grow: 10;
	/* background-color: orange; */
}

#dSpeaker {
	position: fixed;
	display: inline-block;
	top: 10px;
	right: 10px;
	cursor: pointer;
	/* background:blue; */
}
#dRecord {
	background-color: #ff413680;
	border-radius: 50%;
	position: fixed;
	top: 400px;
	left: 50%;
	font-size: 50px;
	padding: 5px;
}
#table {
	flex: 0 0 auto;
	/* height: -moz-calc(100% - (20px + 30px));
	height: -webkit-calc(100% - (20px + 30px));
	height: calc(100% - (20px + 30px)); */
	/*height: calc(100% - 60px); /* needs space on either side of operator!!!!! */
	/* background-color: green; */
	padding: 10px;
	box-sizing: border-box;
}
#divInput {
	display: flex;
	/* line-height: 30px; */
}
#spUsername {
	outline: none;
	border: none;
	padding: 2px 4px;
	min-width: 100px;
}
#inputAdded {
	margin: 0px 0px 0px 10px;
	padding: 0 4px;
	min-width: 100px;
	height: 26px;
	line-height: 26px;
	outline: none;
	background-color: white;
	border: 1px solid dimgray;
	color: black;
}
#status {
	height: 30px;
	padding: 2px 10px;
	/* background-color: skyblue; */
}
#bAdd,
#bAddSound {
	padding: 2px 10px;
	border-radius: 4px;
	margin: 3px 0px 3px 6px;
	/* height: 25px; */
}
#statusMessage {
	margin-top: 2px;
	float: right;
	/* height:25px; */
	/* text-align: right; */
	/* padding-right: 10px; */
}

.selectedGroupButton {
	background-color: skyblue;
}

/* #region buttonClass */
.buttonClass {
	border-radius: 2px;
	margin: 2px;
	padding: 0px;
	border: none;
	/* background-color: #79d7e4; */
	outline: none;
}
.buttonClass:hover {
	background-color: #79d7e4;
}
.buttonClass:active {
	background-color: orange;
}
.buttonPlus {
	padding: 4px 12px;
	margin: 0px 14px;
	font-size: 20px;
}
.hMinus60 {
	height: calc(100vh - 60px);
}
.hPercentMinus60 {
	height: calc(100% - 60px);
	margin-top: 16px;
}
.whMinus60 {
	/* min-height: 100%;  */
	min-height: calc(100% - 25px);
	min-width: calc(100% - 50px);
	/* margin: 16px 16px 0px 16px; */
	/* margin: 16px; */
}
/* #endregion */

#lineTopOuter {
	min-width: 100%;
	/* //background-color: blue; */
	padding: 4px 12px;
	box-sizing: border-box;
}
#lineTop {
	/* display: flex; */
	/* justify-content: space-between; */
	font-size: 20pt;
	position: relative;
}
#lineTopLeft {
	display: inline-block;
	/* float: left; */
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 80px;
	text-align: left;
	/* background-color: aqua; */
}
#lineTopRight {
	/* float: right; */
	display: inline-block;
	position: absolute;
	/* float: left; */
	top: 0px;
	right: 0px;
	width: 124px;
	/* background-color: blue; */
	/* min-width: 80px;
	text-align: left;
	padding: 10px; */
	/* background-color: rgb(9, 51, 51); */
}
#lineTopMiddle {
	width: 100%;
	/* font-size: 60; */
	text-align: center;
}

#lineTitleOuter {
	min-width: 100%;
	/* //background-color: blue; */
	padding: 4px 12px;
	box-sizing: border-box;
}
#lineTitle {
	/* display: flex; */
	/* justify-content: space-between; */
	font-size: 20pt;
	position: relative;
	margin-top: 40px;
}
#lineTitleLeft {
	display: inline-block;
	/* float: left; */
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 20px;
	/* background-color: aqua; */
}
#lineTitleRight {
	/* float: right; */
	display: inline-block;
	position: absolute;
	/* float: left; */
	top: 0px;
	right: 0px;
	min-width: 20px;
	/* background-color: rgb(9, 51, 51); */
}
#lineTitleMiddle {
	width: 100%;
	/* font-size: 60; */
	text-align: center;
}

/* #region score */
#scoreDiv {
	/* font-size: 22pt; */
	text-align: center;
	margin: 4px 0px 12px 0px;
	cursor: default;
}
#scoreSpan {
	/* margin-left:10px;
	background-color: white;
	color: black; */
	padding: 0px 12px;
	border-radius: 8px;
}
/* #endregion */

/* #region start button */
#divControls {
	position: fixed;
	top: 50px;
	left: 100px;
}
#divControls > div {
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 4px 16px;
	font-size: 32px;
	background-color: dimgrey;
	margin: 4px;
}
#divControls > div:hover {
	background-color: #79d7e4;
}
#divControls > div:active {
	background-color: red;
}
#freezer,
#dPassPlay,
#dAddons {
	background-color: #000000c0;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-size: 100pt;
}
#freezer2 {
	background-color: indigo;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-size: 60pt;
}
#freezer2 > div {
	text-align: center;
}
/* #endregion */

/* #region right side of lineTitle */

/* #endregion */

#lineTableOuter {
	min-width: 100%;
	/* background-color: red; */
	padding: 4px 12px;
	box-sizing: border-box;
}
#lineTable,
#dExpContent {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
}
#lineTableLeft {
	display: inline-block;
	min-width: 20px;
	/* background-color: yellow; */
}
#lineTableMiddle,
#dExpContent {
	position: relative;
	text-align: center;
	min-width: 20px;
	/* background-color:orange; */
}
#lineTableRight {
	display: inline-block;
	min-width: 20px;
	/* background-color:green; */
}

/* #region animations */
.komisch {
	animation: kkomisch 1200ms ease-in-out;
}
@keyframes kkomisch {
	0% {
		transform: scale(1);
		background-color: yellow;
	}
	50% {
		transform: scale(1.5);
		background-color: green;
	}
	100% {
		transform: scale(1);
		background-color: yellow;
	}
}
.pulse {
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
}
.transPos {
	transition: left 500 ease-in-out;
}
.transColor {
	transition: color 500 ease-in-out;
}
.aniGrow800 {
	animation: growcp5 800ms ease-in-out 0s 1 forwards;
}
.aniGrow2 {
	animation: growcp5 800ms ease-in-out;
}
.aniShrink800 {
	animation: shrinkcp5 800ms ease-in-out 0s 1 forwards;
}
@keyframes growcp5 {
	0% {
		transform: scale(1);
		background-color: yellow;
	}
	100% {
		transform: scale(1.25);
		background-color: red;
	}
}
@keyframes shrinkcp5 {
	0% {
		transform: scale(1.5);
		background-color: red;
	}
	100% {
		transform: scale(1);
		background-color: yellow;
	}
}

.pulse800green {
	color: green;
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
	transition: color 500 ease-in-out;
}
.pulse800blue {
	color: blue;
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
	transition: color 500 ease-in-out;
}
.pulse800violet {
	color: violet;
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
	transition: color 500 ease-in-out;
}
.pulse800orange {
	color: orange;
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
	transition: color 500 ease-in-out;
}
.pulse800skyblue {
	color: skyblue;
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
	transition: color 500 ease-in-out;
}
.pulse800greenyellow {
	color: greenyellow;
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
	transition: color 500 ease-in-out;
}
.pulse800yellow {
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
	color: yellow;
	transition: color 500 ease-in-out;
}
.pulse800red {
	animation: pulse_animation 800ms ease-in-out 0s 6 alternate;
	color: red;
	transition: color 500 ease-in-out;
	/* animation-name: pulse_animation;
	animation-duration: 3000ms; */
	/* transform-origin:70% 70%; */
	/* animation-iteration-count: 3;
	animation-timing-function: cubic-bezier(); */
}
.onPulse {
	animation: pulse_animation 400ms ease-in-out 0s 6 alternate;
	/* animation-name: pulse_animation;
	animation-duration: 3000ms; */
	/* transform-origin:70% 70%; */
	/* animation-iteration-count: 3;
	animation-timing-function: cubic-bezier(); */
}
.onPulse1 {
	animation: pulse_small 0.25s ease-in-out 0.25s 2 alternate;
	/* animation: stretch 3s ease-in-out 0s 1 reverse; */
	/* animation: stretch 3s ease-in-out 0s 1 reverse, pulse 3s ease-out; */
}
.onPulse2 {
	animation: pulse_small 0.5s ease-in-out 0.2s 2 alternate;
}

.pulseBg {
	color: white;
	animation: pulseBackground2TA 0.8s ease-in-out 1.5s 3;
}
@keyframes pulseColor {
	0% {
		color: black;
	}
	100% {
		color: transparent;
	}
}
@keyframes pulseBackgroundTA {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #ff413680;
	}
	100% {
		background-color: transparent;
	}
}
@keyframes pulseBackground2TA {
	0% {
		background-color: #ff413680;
	}
	50% {
		background-color: transparent;
	}
	100% {
		background-color: #ff413680;
	}
}
@keyframes pulseBackgroundT {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: #ff4136;
	}
}
@keyframes pulseBackground {
	0% {
		background-color: #001f3f;
	}
	100% {
		background-color: #ff4136;
	}
}
@keyframes pulseBackground1 {
	0%,
	100% {
		background-color: yellow;
	}
	50% {
		background-color: red;
	}
}
@keyframes stretch {
	0% {
		transform: scale(0.8);
		background-color: red;
		border-radius: 100%;
	}
	50% {
		background-color: orange;
	}
	100% {
		transform: scale(1.5);
		background-color: yellow;
	}
}

@keyframes pulse_small {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

@keyframes pulse_animation {
	0% {
		transform: scale(1);
	}
	/* 30% { transform: scale(1); }
	40% { transform: scale(1.08); } */
	100% {
		transform: scale(1.5);
	}
	/* 60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); } */
}

.transopaOff {
	opacity: 0;
	transition: opacity 5s ease-in-out;
}
.transopaOn {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
.transitionOpacity {
	transition: opacity 5s ease-in-out;
}
/* .aniFadeInOut{ animation: fadeinout 5s ease-in-out 0s 1;} */
.aniSlowlyDisappear {
	animation: fadeinout 5s ease-out 0s 1 forwards;
}
.aniFastDisappear {
	animation: fadeOut 0.5s ease-out 0s 1 forwards;
}
.aniSlowlyAppear {
	animation: example 3s ease-in-out 0s 1 forwards;
}

.aniFadeOut {
	animation: example 0.5s ease-in-out 0s 1 reverse;
}
.aniFadeIn {
	animation: example 0.5s ease-in-out;
}
.aniFadeOutIn {
	animation: fadeoutin 2s ease-in-out;
}
/* example 4s ease-in-out 2s infinite reverse forwards */
.aniFadeInOut {
	animation: fadeinout 1.5s ease-in-out 0s 1 forwards;
}
.aniRubberBand {
	animation: rubberBand 1.2s ease-in-out;
}
@keyframes example {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeoutin {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeinout {
	from {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
		opacity: 0;
	}

	10% {
		transform: scale3d(1.5, 0.75, 1);
		opacity: 0.25;
	}

	40% {
		transform: scale3d(0.5, 1.25, 1);
		/* opacity: 0.5; */
	}
	50% {
		transform: scale3d(1.3, 0.85, 1);
		/* opacity: 0.75; */
	}

	60% {
		transform: scale3d(0.85, 1.05, 1);
		/* opacity: 1; */
	}

	65% {
		transform: scale3d(1.15, 0.9, 1);
	}

	72% {
		transform: scale3d(0.95, 1.05, 1);
	}

	80% {
		transform: scale3d(1.05, 0.95, 1);
	}
	85% {
		transform: scale3d(0.95, 1.05, 1);
	}

	90% {
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes rubberBand1 {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}

.blink {
	animation: blinking 0.5s ease-in-out infinite alternate;
}
@keyframes blinking {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}

.phone {
	animation: vibratePhone 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2s infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 300px;
	/* -webkit-animation: vibrate 2s cubic-bezier(.36, .07, .19, .97) infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 300px; */
}
@keyframes vibratePhone {
	0%,
	2%,
	4%,
	6%,
	8%,
	10%,
	12%,
	14%,
	16%,
	18% {
		transform: translate3d(-2px, 0, 0);
	}
	1%,
	3%,
	5%,
	7%,
	9%,
	11%,
	13%,
	15%,
	17%,
	19% {
		transform: translate3d(2px, 0, 0);
	}
	20%,
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes vibrate1 {
	0%,
	2%,
	4%,
	6%,
	8%,
	10%,
	12%,
	14%,
	16%,
	18% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0);
	}
	1%,
	3%,
	5%,
	7%,
	9%,
	11%,
	13%,
	15%,
	17%,
	19% {
		-webkit-transform: translate3d(1px, 0, 0);
		transform: translate3d(1px, 0, 0);
	}
	20%,
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
/* body {
  -webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
  animation: background 5s cubic-bezier(1,0,0,1) infinite;  
}
@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}
@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
} */

/* #endregion animations */

.wdiv:active:hover {
	color: white;
	background: rebeccapurple;
	/* animation: active 0s;
  -moz-animation: active 0s;
  -webkit-animation: active 0s; */
}
